.notesApp{
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.cardTitle{
    font-weight: 400;
    font-size: medium;
    font-family: auto;
    color: #597287;
    display: inline-block;
}

.filter{
    font-weight: 400;
    font-size: small;
    font-family: auto;
    color: #597287;
}

.cardBody{
    font-family: math;
}

.addedItemCard :hover {
    cursor: pointer;
    background-color: bisque;
}

.searchIcon{
    width: 1rem;
    position: absolute;
    margin: 0.6rem;
}

.filter::placeholder {
    margin-left: 3rem; 
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }