<div class="container-fluid notesApp">
  <div class="card" style="width: 25rem; height: 30rem">
    <div
      class="card-header text-center"
      style="font-weight: 600; font-family: emoji"
    >
      Notes Mate
    </div>

    <div
      class="card-body"
      *ngIf="!isShowAddItem"
      style="overflow-y: scroll; overflow-x: hidden"
    >
      <div>
        <!-- <img class="searchIcon" src="../assets/images/searchicon-png.png" alt="search-icon"> -->
        <input
          class="form-control mb-2 filter"
          type="search"
          placeholder="Filter"
          aria-label="Search"
          style="width: 101.8%"
          [(ngModel)]="searchText"
          (ngModelChange)="onTextChange($event)"
        />
      </div>

      <div *ngIf="notesListDetails && notesListDetails.length > 0">
        <ng-container *ngFor="let item of notesListDetails; index as i">
          <div class="card addedItemCard" style="width: 23rem; margin-top: .5rem" (click)="editNotesItem(i)" ngbTooltip="Tooltip text here">
            <div class="card-body">
              <h5 class="card-title cardTitle">
                {{ item?.title }}
              </h5>
              <button
                type="button"
                class="btn-close"
                aria-label="Close"
                style="float: inline-end; width: 0.2em; height: 0.2em;"
                (click)="removeItem(i)"
              ></button>
              <p class="card-text cardBody">
                {{ item?.body }}
              </p>
            </div>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="card-body" *ngIf="isShowAddItem">
      <div class="" style="width: 23rem">
        <div class="card-body">
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="floatingInput"
              placeholder="title"
              [(ngModel)]="notesObject.title"
            />
            <label for="floatingInput" class="cardTitle">Title</label>
          </div>
          <div class="form-floating">
            <textarea
              class="form-control"
              id="floatingTextarea"
              placeholder="body"
              [(ngModel)]="notesObject.body"
              style="height: 8rem;"
            ></textarea>
            <!-- [ngStyle]="{ 'height.px': calculateTextareaHeight() }" -->
            <label for="floatingTextarea" class="cardBody">Body</label>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button
          type="button"
          class="btn btn-secondary btnFont"
          style="margin-right: 0.2rem"
          (click)="cancelAddNotes()"
        >
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-success btnFont"
          (click)="submitNotesItem()"
          [disabled]="!notesObject.body || !notesObject.title"
        >
          Submit
        </button>
      </div>
    </div>
    <div class="card-footer text-muted text-center">
      <button
        type="button"
        class="btn btn-primary text-center btnFont"
        [disabled]="isShowAddItem"
        (click)="addNotesItem()"
      >
        Add
      </button>
    </div>
  </div>
</div>
